[submodule "ini-parser-lib"]
	path = ini-parser-lib
	url = https://github.com/1Serg777/ini-parser-lib.git
[submodule "file-system-lib"]
	path = file-system-lib
	url = https://github.com/1Serg777/file-system-lib.git
